---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

h1>em {
    display: none;
}

body {
    font-family: Lato, sans-serif;
    line-height: 2;
}

header h1,
h1, h2, h3, h4, h5,
pre, code, pre *, code * {
    font-family: "Ubuntu Mono", monospace;
}

li {
    line-height: 2;
}

pre {
    line-height: 1.6;
}

code.highlighter-rouge {
    color: #90a959;
    margin: 0 2px;
}

#main_content a {
    font-variant: small-caps;
}
